@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set core body defaults */
body {
  font-family: "Inter", sans-serif;
  text-align: center;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
a {text-decoration:none;
    color: #418dff;}

:root {
  --black: #1c1e21;
  --white: #ffffff;
  --tw-color1: #a855f7;
  --tw-color1-hover: #9333ea;
}

h2 {
  font-size: 26px;
}

.metamask {
    background: url(../public/icons/metamask.webp);
    display: block;
    width: 18px;
    height: 18px;
    background-size: contain;
    background-repeat: no-repeat;
}
.walletconnect {
    background: url(../public/icons/walletconnect.png);
    display: block;
    width: 18px;
    height: 18px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 8px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: $light; 
  border-radius: 8px;
}
 
::-webkit-scrollbar-thumb {
  background: $dark; 
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.dropdown-menu[data-bs-popper] {
    left: -40px !important;
}
